/* Homepage */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: #111;
  margin: 0;
  padding: 0;
  color: #FFF; /* Medium purple for text */
}

header { 
  background-color: #111111;
  text-align: center;
  padding: 40px 0;
}

header img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

nav {
  padding: 15px 0;
  text-align: center;
  background-color: black;
}

nav a {
  font-size: 18px;
  font-weight: 600;
  color: #FFF; /* Medium purple for text */
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 15px;
  transition: color 0.3s ease; 
}

nav a:hover {
  color: #9B59B6; /* Light purple for highlights */
}

main {
  padding: 100px 20px;
  text-align: center;
  background-color: black;
}

main h1 {
  font-size: 4em;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  color: #9B59B6; /* Light purple for highlights */
}

main p {
  font-size: 2em; 
  margin-top: 10px; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
  color: #FFF; /* Medium purple for text */
}

footer {
  background-color: #111111;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* About Us */
.about-us {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #111;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

.about-us h1, .about-us h2 {
  color: #9B59B6; /* Light purple for highlights */
  font-size: 28px;
  margin-bottom: 10px;
}

.about-us p {
  line-height: 1.6;
  font-size: 18px;
  margin-bottom: 15px;
}

/* Contact */
header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #9B59B6; /* Light purple for highlights */
  text-decoration: bold;
}

.contact-form button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  background-color: #9B59B6; /* Light purple for highlights */
  color: #1a1a1a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #6A4CBB; /* Dark purple for shadows */
}

/* Footer */
footer {
  background-color: #000;
  color: #FFF; /* Medium purple for text */
  text-align: center;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
